<div class="row">

  <div class="col-sm-8">
    <h1><a href=".">Roland Martin</a></h1>
  </div>

  <div class="linkbox col-sm-4">
    <div class="links">
    <a href="https://twitter.com/rolypole">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
      <a href="https://musicforstowaways.wordpress.com/">
        <i class="fa fa-wordpress" aria-hidden="true"></i>
      </a>
      <a href="https://roland.bandcamp.com/">
        <i class="fa fa-bandcamp" aria-hidden="true"></i>
      </a>
    </div>
  </div>

</div>
