<div class="row">

	<div class="release col-xs-12 col-sm-5 col-md-4 col-lg-3">
		<div ng-if="about">
			<img style="sleeve" ng-src="images/rollo.png" alt="Hypernova performing" class="img-responsive" width="100%">
		</div>
		<div ng-if="release">
			<img style="sleeve" ng-src="images/{{release.image}}" alt="{{release.title}} sleeve" class="img-responsive" width="100%">
		</div>
	</div>

	<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">

		<div>
			<h2>
				Welcome to my website!
			</h2>
			<p>
				For some information about my music, please visit <a href="music">this page</a>.
			</p>
		</div>

	</div>
</div>
